/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    --color-verdarkblue: hsl(233, 47%, 7%);
    --color-darkblue: hsl(244, 38%, 16%);
    --color-violet: hsl(277, 64%, 61%);


    --white-main-heading-stats: hsl(0, 0%, 100%);
    --white-transparent-paragraph: hsla(0, 0%, 100%, 0.75);
    --white-transparent-stats-heading: hsla(0, 0%, 100%, 0.6);

    --ff-main: "Inter", sans-serif;
    --ff: "Lexend Deca", sans-serif;
    
    --transparent-purple: hsla(279, 64%, 61%, 0.5);

    --fs: clamp(1.6rem, 2.5vw, 2rem);
    --fs-p: max(0.85rem, 1.2vw);
    --fs-tp: max(0.625rem, 1.2vw);
    --gap: 5rem;


}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve centering within parent */
  min-height: 100vh;
  background-color: var(--color-verdarkblue);
  margin: 0 auto;
  padding: 2rem;

	
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* -------------------- */
/* Utility Class	*/

/* -------------------- */

.flex {
    display: flex;
	gap: var(--gap, 1rem);
    
}

.container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
	  max-width: 331px;
    background-color: var(--color-darkblue);
    font-family: var(--ff);
}

.fw-large {
    font-weight: 700;
    font-style: normal;
}

.fw-small {
    font-weight: 400;
    font-style: normal;
    
}

.purple-text {
    color: var(--color-violet);
}

.uppercase {
    text-transform: uppercase;
}

.tinytext {
  font-size: var(--fs-tp);
  color: var(--white-transparent-paragraph)
}

/* -------------------- */
/* Regular CSS	*/

/* -------------------- */

 .wrapper {
     position: relative;
     display: inline-block; /* Or block, depending on your layout */
   }

   .wrapper::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: var(--transparent-purple); /* Example: semi-transparent black */
   }

   .wrapper img {
     display: block; /* Remove default image spacing */
     max-width: 100%;
     height: auto;
   }

   h1 {
    color: var(--white-main-heading-stats);
    font-size: var(--fs);
   }

   h2 {
    color: var(--white-main-heading-stats);
   }

   p {
    color: var(--white-transparent-paragraph);
    font-size: var(--fs-p);
    font-family: var(--ff);
    font-weight: 200;

   }
#image1 {display:block;}
#image2 {display:none}

@media all and (max-width: 499px) {
    #image1 {display: none;}
    #image2 {display: block;}
}

